<nav id="navbar" class="navbar p-1 sticky-top navbar-expand-lg bg-body-tertiary">
    <div class="px-4 container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <span></span>

            <ul class="navbar-nav ps-4 nav-underline ms-md-auto">
                <li class="nav-item ps-2">
                    <a class="nav-link" href="#introductionSection">Top</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#selectPublicationsSection">Publications</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#academicBackgroundSection">Academic Background</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#teachingExperienceSection">Teaching Experience</a>
                </li>
                <!--
                <li class="nav-item">
                    <a class="nav-link" href="#triviaSection">Trivia</a>
                </li>
                -->
                <li class="nav-item">
                    <a class="nav-link" href="#contactSection">Contact</a>
                </li>
            </ul>

            <span class="ms-md-auto"></span>
        </div>

        <ul class="navbar-nav flex-row flex-wrap align-items-center ms-md-auto mt-2 mt-lg-0 mb-2 mb-lg-0 text-light">
            <li class="nav-item">
                <button class="btn btn-link nav-link px-2 d-flex align-items-center htmx-fade-out htmx-fade-in"
                    id="bd-theme" type="button" onclick="toggleColorscheme()">
                    <i class="bi bi-moon-stars-fill text-light"></i>
                </button>
            </li>
        </ul>
    </div>
</nav>
