<nav class="navbar p-1 navbar-expand bg-body-tertiary">
    <div class="px-4 container-fluid">
        <button class="navbar-toggler" type="button" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="navbar-nav flex-row flex-wrap align-items-center ms-md-auto mb-2 mb-lg-0 text-light">
            <li class="nav-item">
                <button class="btn btn-link nav-link px-2 d-flex align-items-center htmx-fade-out htmx-fade-in"
                    id="bd-theme" type="button" onclick="toggleColorscheme()">
                    <i class="bi bi-moon-stars-fill text-light"></i>
                </button>
            </li>
        </ul>
    </div>
</nav>
