<div id="teachingExperienceSection" class="row justify-content-center g-0 p-0 m-0 bg-body-secondary shadow">
<div class="col-auto col-lg-2">
</div>
<div class="col-sm-12 col-lg-8">
    <div class="container-fluid mx-1 my-4">
        <h1 class="display-5 px-4 mx-4 section-header text-center text-lg-start">Teaching Experience</h1>
        <div class="row g-2 row-cols-auto" data-masonry='{"itemSelector": ".paper-card", "gutter": 10, "fitWidth": true}'
            style="margin: 0 auto;">
            {% for entry in site.data.teaching_experiences %}
            <div class="card paper-card" style="width: 18rem;">
                <div class="card-body mb-0" style="transform: rotate(0);">
                    <h5 class="card-title mb-4">{{ entry.course }}</h5>
                    <h6 class="card-subtitle">
                        {{ entry.university }}
                    </h6>
                    <p class="m-1 px-1 py-0">
                    Taught by {{ entry.professor }}
                    </p>
                </div>
                <div class="card-body border-top mt-0">
                    <div class="row">
                        <div class="col-auto me-auto">
                            <span class="badge rounded-pill text-bg-primary">{{ entry.role }}</span>
                        </div>
                        <div class="col-auto">
                        </div>
                    </div>
                    <div class="row">
                        <p class="card-text"><small class="text-body-secondary">{{ entry.start }}-{{ entry.end }}</small></p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="col-auto col-lg-2">
</div>
</div>
