.htmx-smooth {
  transition: all 0.25s ease-in;
}

.htmx-fade-out {
  opacity: 1;
}

.htmx-fade-out.htmx-swapping {
  opacity: 0;
  transition: opacity 0.25s ease;
}

.htmx-fade-in.htmx-added {
  opacity: 0;
}

.htmx-fade-in {
  opacity: 1;
  transition: opacity 0.25s ease;
}

.loading-indicator{
    opacity: 0;
    transition: opacity 500ms ease-in;
}
.htmx-request .loading-indicator{
    opacity: 1;
}
.htmx-request.loading-indicator{
    opacity: 1;
}
