.hero-background {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/assets/img/hero_bg.jpg);
    background-position: center;
}

.section-header {
    font-family: Ubuntu Mono;
}

.face-img-overlay-wrap {
    position: relative;
    display: inline-block; /* <= shrinks container to image size */
    transition: transform 150ms ease-in-out;
}

.face-img-overlay-wrap img { /* <= optional, for responsiveness */
    position: relative;
    display: block;
    top: 50%;
    left: 50%;
    max-width: min(100%, 50vw);
    height: auto;
    border-radius: 55%;
    z-index: 2;
    transform: translate(-50%, -50%);
}

.face-img-overlay-wrap svg {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    max-width: min(110%, 60vw);
    min-width: min(110%, 60vw);
    height: auto;
    transform: translate(-43%, -43%);
}

/*
.education-entry-odd:before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: rgba(61, 194, 68, 1);
    position: relative;
    top: 0%;
    left: -2.85%;
}

.education-entry-even:after {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: rgba(255, 40, 28, 1);
    position: relative;
    top: 0%;
    right: -2.85%;
}
*/
